[Desktop Entry]
Type=Application
Name=ETGmusic
Exec=/usr/bin/etgmusic
Icon=/usr/share/icons/etgmusic/etgmusic-logo.png
Comment=A music streaming app combining the power of music metadata providers & YouTube
Terminal=false
Categories=Audio;Music;Player;AudioVideo;
# MimeType=x-scheme-handler/spotify;